div.trainerImg {
  height: 180px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

div.pokemonImg {
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: -8px 0;
}

div.battlePanel {
  max-width: 250px;
}

@media only screen and (max-width: 510px) {
  div.trainerPanel {
    margin: 0 0 20px 0;
  }

  div.trainerPanel,
  div.battlePanel {
    width: 100%;
  }
}
