div.pokemonImg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  flex-grow: 1;
}

div.pokeblock {
  width: 50px;
  text-align: center;
  margin-bottom: 8px;
}

div.pokeblock:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

@media only screen and (max-width: 475px) {
  div.pokePanel {
    margin-right: 0;
    margin-bottom: 20px;
  }

  div.pokePanel,
  div.pokeblockPanel {
    width: 100%;
  }
}
