div.dayCareModal {
  width: 400px;
}

div.pokemonImg {
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

div.pokeblock {
  width: 50px;
  text-align: center;
  margin-bottom: 8px;
}

div.pokeblock:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
