div.pokemonImg {
  height: 100%;
  width: 150px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  flex-grow: 1;
  margin: 0 1rem;
}

div.pokeblock {
  width: 50px;
  text-align: center;
  margin-bottom: 8px;
}

div.pokeblock:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
