.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  color: #000;
  margin: 8px 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  text-transform: capitalize;
}
