div.partyList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px;
}

div.partyPokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 6px;
  width: 180px;
}

div.partyPokemon:last-child {
  margin-bottom: 0;
}
