div.container {
  display: flex;
  justify-content: space-between;
  height: 300px;
  margin: 8px 0;
}

div.listSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-right: 8px;
}

div.infoSection {
  display: flex;
  background-color: white;
  padding: 24px;
  border-radius: 6px;
}
