div.shopContainer {
  max-height: 187px;
  overflow-y: auto;
  overflow-anchor: none;
}

div.sellItem {
  background-color: #ddd;
  margin: 16px 16px 16px 0;
  padding: 1rem;
  border-radius: 6px;
  height: fit-content;
}
