div.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.listSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  height: 415px;
  flex-grow: 1;
  overflow-y: auto;
}

div.infoSection {
  display: flex;
  background-color: white;
  border-radius: 6px;
  padding: 24px;
  margin: 1rem 0;
  flex-grow: 1;
}

@media only screen and (max-width: 820px) {
  div.listSection {
    margin-right: 0;
  }
}
